

<div class="card-info-window">
    <%= cl_image_tag event.photo.key, alt: "event photo", crop: :fill %>

<!-- Ilana like bookmark -->
    <div class="bookmark-like-red">
    <% if user_signed_in?  %>
      <% if current_user.liked? event %>
        <%= link_to unlike_event_path(event), class: "unlike-event", remote: :true, method: :put do %>
          <i class="fas fa-bookmark" id="unlike"></i>
        <% end %>
      <% else %>
        <%= link_to like_event_path(event), class: "Intéressé", remote: :true, method: :put do %>
          <i class="far fa-bookmark" id="like-event"></i>
        <% end %>
      <% end  %>
    <% else %>
      <i class="far fa-bookmark" id="like-event"></i>
    <% end %>
    </div>
   <!-- Ilana like bookmark end -->

  <div class="card-info-window-infos">
    <div>
      <h2><%= event.name %></h2>
      <p><%= event.description.truncate_words(18) %></p>
      <p class="event-address"><%= event.address %></p>
      <!-- <p class="card-info-window-date">Date: <%= event.start_date %> / durée: <%#= ((event.end_date - event.start_date) / 3600).to_i %> h </p> -->
      <p><% if event.start_date.to_date == event.end_date.to_date %>
      Date : <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l event.end_date, locale: :fr, format: :hours %>
      <% else %>
      Dates : <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l(event.end_date, locale: :fr) %>
      <% end %>
      </p>
      <p>Places disponibles : <%= event.seats_left %></p>
    </div>
    <%# if event.ngo.photo.attached? %>
      <%#= cl_image_tag event.ngo.photo.key, alt: "event photo", crop: :fill, class:"card-info-window-user avatar-bordered" %>
    <%# end %>
    <%= link_to "Détails", event_path(event), class:"btn btn-success btn-join" %>
  </div>
</div>
