<!-- yizhu: add a container to all elements, with a row to display two sections -->
<%= render 'shared/navbar' %>
<div class="justify-content-center">

  <!-- yizhu: add tabs -->
  <!-- to be continue... -->
  <!-- yizhu: map section with cards -->

  <div class="d-flex map-cards">
    <!-- add result filter and text search function -->
    <div class="search-bar-index">
      <%= form_tag events_path, method: "get", remote:true do %>
        <%= text_field_tag :address, params[:address].present? ? params[:address] : '', required: false, id: "event-address", label: false, placeholder: "Votre adresse" %>
        <%= submit_tag "Rechercher", class: "btn btn-success text-white mt-2" %>
        <div class="search-select-index mt-3">
          <h5>Choisissez vos Thèmes </h5>
          <div class="cause-list">
            <ul>
              <% Cause::CAUSES.each do |cause| %>
                <li>
                  <label class="cause-select <%= cause.parameterize.split('-').first %> <%= @causes.include?(cause) ? "active" : "" %>">
                    <%= check_box_tag "user_cause_#{cause.downcase}", "#{cause}", params["user_cause_#{cause.downcase}"] == cause, id: "user_cause", style:'visibility: hidden'%>
                    <%= image_tag "#{cause == "Tous les thèmes" ? "logo" : cause.parameterize}.png", size: "20x20", alt: "alttext" %>  <%= cause %> (<%= cause == "Tous les thèmes" ? Event.all.size : Event.tagged_with("#{cause}").count %>)
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <!-- result filter end -->

    <!-- section of map, 100% of the larger -->
    <div id="map" class=""
      data-lng="<%= @lng %>"
      data-lat="<%= @lat %>"
      style="width: 100%; height: 90vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

      <!-- yizhu: section of cards for events show, 50% of the larger -->

    <div class="p-0" id="card-info">
      <!-- yizhu: insert events cards here -->
      <% @events.each do |event| %>
        <div class="card-info-window" id="event-<%= event.id %>" >

            <!-- Bookmark on photo -->
          <div class="bookmark-like-red">
            <% if user_signed_in? %>
              <% if current_user.liked? event %>
                <%= link_to unlike_event_path(event), class: "unlike-event", remote: true, method: :put do %>
                  <i class="fas fa-bookmark" id="unlike"></i>
                <% end %>
              <% else %>
                <%= link_to like_event_path(event), class: "interested", remote: true, method: :put do %>
                  <i class="far fa-bookmark" id="like-event"></i>
                  <div class="infobulle" style="display: none;">
                    <div class="infobulle-texte" id="Intéressé" >
                      Intéressé(e)
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% else %>
                <%= link_to new_user_session_path, class: "interested" do %>
                  <i class="far fa-bookmark" id="like-event"></i>
                <% end %>
            <% end  %>
          </div>

          <%= cl_image_tag event.photo.key, crop: :fill, class: "event-photo" %>


          <div class="card-info-window-infos">
            <div class="d-flex justify-content-between mb-3">

              <div>
                <h2><%= event.name %></h2>
                <p>
                  <%= render "shared/tag_icons", event: event %>
                </p>

               <p class="event-address"><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
                <p><i class="fas fa-user-circle"></i> <%= event.seats_left %> bénévoles souhaités</p>

                <p><i class="far fa-calendar-alt"></i><% if event.start_date.to_date == event.end_date.to_date %>
                <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l event.end_date, locale: :fr, format: :hours %>
                <% else %>
                <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l(event.end_date, locale: :fr) %>
                <% end %>
                </p>
              </div>

              <div class="d-inline">
                <div class="card-event-date text-center">
                  <strong>
                    <p><%= I18n.l(event.start_date, locale: :fr, format: :day_week) %></p>
                    <p class="event-day-highlight"><%= I18n.l(event.start_date, locale: :fr, format: :day) %></p>
                    <p><%= I18n.l(event.start_date, locale: :fr, format: :month).upcase %></p>
                    <p id="card-event-hour"><%= I18n.l(event.start_date, locale: :fr, format: :hours) %></p>
                  </strong>
                </div>
                <div>
                  <% if event.end_date < DateTime.now %>
                    <%= link_to event_path(event) do %>
                      <button class="btn btn-secondary">Terminé</button>
                    <% end %>
                  <% elsif user_signed_in? == false %>
                    <%= link_to "Je participe !", event_participations_path(event), method: :post, id: "register-link", class: "btn btn-success card-btn-home" %>
                  <% elsif current_user.participations.find_by(event_id: event.id) %>
                    <%= link_to event_path(event) do %>
                      <button class="btn btn-warning" style="color: white; width: 110px">Déjà inscrit</button>
                    <% end %>
                  <% elsif event.seats_left.zero? %>
                    <%= link_to event_path(event) do %>
                      <button class="btn btn-danger my-2">Complet</button>
                    <% end %>
                  <% elsif current_user %>
                    <%= link_to event_participations_path(event), method: :post, id: "register-link", remote: true, class: "hidden" do %>
                      <button id="sweet-alert-register" class="btn btn-success">Je participe !</button>
                    <% end %>
                  <% end %>
                </div>

              </div>
            </div>
            <p><%= event.description %></p>
          </div>
        </div>
      <% end %>
      <!-- yizhu: end of insert cards -->
    </div>
      <!-- end of cards section -->

  </div>
</div>
