<!-- yizhu: add a container to all elements, with a row to display two sections -->
<div class="container justify-content-center">

  <!-- add result filter and text search function -->
  <div class="search-bar-index form-inline">
    <%= form_tag events_path, method: "get" do %>
      <%= select_tag 'user-cause', options_for_select(Cause::CAUSES), class: 'form-control event-address mt-3' %>
      <%= text_field_tag :address, "", required: false, id: "event-address", label: false, placeholder: "Adresse", class: 'form-control mt-3' %>
      <%= text_field_tag :keyword, "", required: false, id: "keyword", label: false, placeholder: "Mot clé", class: 'form-control mt-3' %>
      <%= submit_tag "Rechercher 🔍", class: "btn btn-warning text-white ml-2 mt-3" %>
    <% end %>
  </div>

  <!-- yizhu: section of cards for events show, 50% of the larger -->
  <div class="row mt-3">
    <div class="col-6">
      <!-- yizhu: insert events cards here -->
      <% @events.each do |event| %>
        <div class="card-event-index m-3">
            <%= cl_image_tag event.photo.key, alt: "event photo", crop: :fill %>
        <!-- Ilana like bookmark -->
            <div class="bookmark-like-red">
            <% if user_signed_in?  %>
              <% if current_user.liked? event %>
                <%= link_to unlike_event_path(event), class: "unlike-event", remote: :true, method: :put do %>
                  <i class="fas fa-bookmark" id="unlike"></i>
                <% end %>
              <% else %>
                <%= link_to like_event_path(event), class: "Intéressé", remote: :true, method: :put do %>
                  <i class="far fa-bookmark" id="like-event"></i>
                <% end %>
              <% end  %>
            <% else %>
              <i class="far fa-bookmark" id="like-event"></i>
            <% end %>
            </div>
           <!-- Ilana like bookmark end -->

          <div class="card-event-index-infos">
            <div>
              <h2><%= event.name %></h2>
              <p><%= event.description.truncate_words(18) %></p>
              <p class="event-address"><%= event.address %></p>
              <!-- <p class="card-event-index-date">Date: <%= event.start_date %> / durée: <%#= ((event.end_date - event.start_date) / 3600).to_i %> h </p> -->
              <p><% if event.start_date.to_date == event.end_date.to_date %>
              Date : <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l event.end_date, locale: :fr, format: :hours %>
              <% else %>
              Dates : <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l(event.end_date, locale: :fr) %>
              <% end %>
              </p>
              <p>Places disponibles : <%= event.seats_left %></p>
            </div>
            <%= cl_image_tag event.ngo.photo.key, alt: "event photo", crop: :fill, class: "card-event-index-user avatar-bordered" %>
            <%= link_to "Détails", event_path(event), class:"btn btn-success btn-join" %>
          </div>
        </div>
      <% end %>
    </div>


    <!-- section of map, 50% of the larger -->
    <div class="col-6">
    <div id="map" class="mt-3"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>


  </div>
</div>
