<div class="container-event">
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= cl_image_path @event.photo.key, crop: :fill %>')">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" id="avatar-ngo">
  </div>
   <div class="d-flex" id="events-details">
    <div class="col-8 ">
      <h1 class="bold">
        <%= @event.name %>
      </h1>
      <p> <%= @event.description %></p>
    </div>
      <div class="card-event col-4">
        <h2>
          organisé par Revempers
        </h2>
        <button class="btn-outlight"> Suivre</button>
        <h3>Détails</h3>
          <ol style="list-style-type:none;" id="ol-details">
             <li><%= @event.start_date%></li>
             <li><%= @event.end_date%></li>
             <li><%= @event.address%></li>
             <li><%= @event.seats%></li>
           </ol>
           <button class="btn-success">PARTICIPER</button>
      <!--      <#%= link_to ,  afficher le modal de levent%> -->
      </div>
    </div>

</div>


