<div class="d-flex flex-wrap">
  <% events.each do |event| %>
    <div class="col-5 card-event-dashboard">
      <%= cl_image_tag event.photo.key, alt: "event photo", crop: :fill %>
        <div class="card-event-infos-dashboard">
          <h4><%= event.name %></h4>
          <p><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
          <p><i class="far fa-calendar-alt"></i><% if event.start_date.to_date == event.end_date.to_date %>
          <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l event.end_date, locale: :fr, format: :hours %>
          <% else %>
          <%= I18n.l(event.start_date, locale: :fr) %> - <%= I18n.l(event.end_date, locale: :fr) %>
          <% end %>
          </p>
          <p><i class="fas fa-user-circle"></i> Places disponibles : <%= event.seats_left %></p>
          <%= link_to "Détails", event_path(event), class:"btn btn-success" %>
        </div>
    </div>
  <% end %>
</div>
