<%= render 'shared/navbar' %>

<div class="d-flex dashboard">
  <!-- Kally : user stats -->
  <div class="profile-card align-self-start">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-large user-photo m-3" %>
    <% else %>
      <%= image_tag "https://oozou.com/assets/placeholder-e61f8e40396b6f3d78281bfa3b2d5ca202616f0e3f9931d451a49d4c2ddfcfea.jpg", alt: "empty-avatar", class: "avatar-large user-photo m-3" %>
    <% end %>

    <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
    <!-- Kally : user action counters -->
    <div class="dashboard-profile-text">
      <p><i class="fas fa-calendar-check"></i> <%= @my_events.size %>
        <% if @my_events.size.zero? || @my_events.size == 1 %>
          participation
        <% else %>
          participations
        <% end %>
      </p>

    <!-- Ilana book mark -->
      <p><i class="fas fa-bookmark"></i> <%= @events_liked.size %>
        <% if @events_liked.size.zero? || @events_liked.size == 1 %>
          favori
        <% else %>
          favoris
        <% end %>
      </p>
      <!-- Kally : pending follow feature -->
      <!-- <p><i class="fas fa-heart"></i> 0 association suivie</p> -->
    </div>
  </div>
  <!-- End of user stats -->

  <div class="col-sm-10 mt-4">
    <!-- Kally : Tabs -->
      <ul class="nav list-inline tabs-underlined" id="myTab" role="tablist">
        <li>
          <a href="#upcoming" class="tab-underlined active" id="upcoming-tab" data-toggle="tab" role="tab" aria-controls="upcoming" aria-selected="true">
            <i class="far fa-calendar-alt"></i>
            A venir <span class="text-muted">(<%= @my_upcoming_events.size %>)</span>
          </a>
        </li>
        <li>
          <a href="#past" class="tab-underlined" id="past-tab" data-toggle="tab" role="tab" aria-controls="past" aria-selected="false">
            <i class="fas fa-history"></i>
            Terminés <span class="text-muted">(<%= @my_past_events.size %>)</span>
          </a>
        </li>
        <li>
          <a href="#favorite" class="tab-underlined" id="favorite-tab" data-toggle="tab" role="tab" aria-controls="favorite" aria-selected="false">
            <i class="fas fa-bookmark"></i>
            Intéressé <span class="text-muted">(<%= @events_liked.size %>)</span></a>
        </li>
      </ul>
    <!-- End of Tabs -->

    <!-- Kally : Contents -->
    <div class="tab-content" id="myTabContent">

      <!-- Upcoming events -->
      <div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
        <%= render 'card_event', events: @my_upcoming_events %>
      </div>

      <!-- Past events -->
      <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
        <%= render 'card_event', events: @my_past_events %>
      </div>

      <!-- Favorite events -->
      <div class="tab-pane fade" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
        <%= render 'card_event', events: @events_liked %>
      </div>
    </div>
  </div>
</div>
