<!DOCTYPE html>
<html>
  <head>
    <title><%= "Commit'hood | Engagez-vous à deux pas de chez vous !" %></title>
    <meta name="description" content="<%= "Engagez-vous pour (re)faire de votre quartier un réel espace de vie commune où il fait bon vivre. Commit'hood est la première plateforme qui vous permet de trouver l'ensemble des évènements associatifs proche de vous." %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= "Commit'hood | Engagez-vous à deux pas de chez vous !" %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= "www.commithood.com" %>" />
    <meta property="og:image" content="<%= image_path("logo-banner-fb.png") %>"/>
    <meta property="og:description" content="<%= "Engagez-vous pour (re)faire de votre quartier un réel espace de vie commune où il fait bon vivre. Commit'hood est la première plateforme qui vous permet de trouver l'ensemble des évènements associatifs proche de vous." %>" />
    <meta property="og:site_name" content="<%= "Commit'hood" %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= "Commit'hood | Engagez-vous à deux pas de chez vous !" %>">
    <meta name="twitter:description" content="<%= "Engagez-vous pour (re)faire de votre quartier un réel espace de vie commune où il fait bon vivre. Commit'hood est la première plateforme qui vous permet de trouver l'ensemble des évènements associatifs proche de vous." %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= "https://res.cloudinary.com/kally-b/image/upload/v1598609781/Logo_ihoxha.png" %>">

    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- <#%= render 'shared/navbar' %> -->
    <%= render 'shared/flashes' %>

    <%= yield %>



    <!-- yizhu:footer added -->
    <%= render 'shared/footer' %>
  </body>
</html>
