<!DOCTYPE html>
<html>
  <head>
    <title>Commit'hood</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/kally-b/image/upload/v1598609781/Logo_ihoxha.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- Matt - code for carousel -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  </head>

  <body>
    <!-- <#%= render 'shared/navbar' %> -->
    <%= render 'shared/flashes' %>

    <%= yield %>

    <!-- Matt - code for carousel -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>

    <!-- yizhu:footer added -->
    <%= render 'shared/footer' %>
  </body>
</html>
